@use '../../mixins/responsive.scss' as *;

.choose {
  background-image: url(/assets/images/bg-triangle.svg);
  background-repeat: no-repeat;
  background-size: 230px;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  display: none;
  grid-template-areas: 'paper scissors' 'rock rock';
  row-gap: 3rem;
  justify-items: center;
  margin-bottom: 2.5rem;
  max-width: 450px;
  position: relative;

  @include responsive(tablet) {
    background-size: auto;
    max-width: 600px;
  }
  &--version {
    max-width: 400px;
    background-image: url(/assets/images/bg-pentagon.svg);
    grid-template-areas: 'scissors scissors' 'spock paper' 'lizard rock';
    row-gap: 0;
    column-gap: 2.5rem;
    @include responsive(tablet) {
      max-width: 550px;
      column-gap: 5rem;
    }
  }
  &--active {
    display: grid;
  }
  &__title {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    animation: text-shadow 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
    @include responsive(tablet) {
      font-size: 1.8rem;
    }
    &--version {
      position: absolute;
      margin: 0;
      margin-top: 1rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

@keyframes text-shadow {
  0% {
    text-shadow: 0 0px 5px hsla(0, 0%, 100%, 0.7);
  }

  100% {
    text-shadow: 0 0px 30px hsla(0, 0%, 100%, 0.7);
  }
}
