@use '../../mixins/responsive.scss' as *;

html {
  scroll-behavior: smooth;
}
body {
  font-family: sans-serif;
  background-image: radial-gradient(
    circle at 45% 45%,
    #29347e 0%,
    #030b18 100%
  );
  background-repeat: no-repeat;
  min-height: 100vh;
  color: white;
  text-align: center;
  animation: pagina 1s ease-in-out;
}

@keyframes pagina {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
